<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VY3SRCDW26"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VY3SRCDW26');
</script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlyingChip</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="main">
        <div class="banner">
            <div class="banner_img"><img src="../static/images/ChipLogo5.png" alt="" id="img_1"></div>
            <div class="banner_img"><img src="../static/images/USVISA.png" alt="" id="img_2"></div>
            <div class="banner_img"><img src="../static/images/Sim1.png" alt="" id="img_3"></div>
        </div>
        <div class="offers">
            {% set counter = namespace(value=1) %}
            {% for flight in cheap_flights %}
            {% set nights = flight['nightsInDest'] | int %}
            {% if counter.value % 5 == 0 %}
            <div class="offer_card">
                <a href="{{ url_for('visa_usa') }}">
                <div class="offer_card_img">
                    <img src="../static/images/USVISA.png" alt="">
                </div>
                <div class="offer_card_content">
                    <div class="offer_card_content_title"><span class="title"> VISA USA</span> 
                    <span class="price level">Trámite y citas</span></div>
                    <div class="offer_card_content_details">Servicio personalizado</div>
                    {% set counter.value = counter.value + 1 %}
                </div></a>
            </div>
            {% endif %}

            <div class="offer_card">
                <a href="{{ flight['deep_link'] }}">
                <div class="offer_card_img">
                    {% if flight['cityCodeTo'] in dest_images %}

                        <img src="{{ dest_images[flight['cityCodeTo']]['link'] }}" alt="">
                    {% else %}
                        <img src="/static/images/ChipLogo5.png" alt="">
                    {% endif %}
                </div>
                <div class="offer_card_content">
                    <div class="offer_card_content_title"><span class="title"> {{ flight['cityTo'] }}</span> <span class="price">${{ flight['price'] }}</span></div>
                    <div class="offer_card_content_details">{{ nights + 1 }} días / {{ nights }} noches</div>
                    {% set counter.value = counter.value + 1 %}
                </div></a>
            </div>
            {% endfor %}
            
        </div>
    </div>
</body>
</html>