<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlyingChip</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
        !function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
        },s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='https://static.ads-twitter.com/uwt.js',
        a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
        twq('config','p66fx');
        </script>
</head>
<body>
    <div class="main">
        <div class="banner">
            <div class="banner_img"><img src="../static/images/ChipLogo5.png" alt="" id="img_1"></div>
            <div class="banner_img"><img src="../static/images/USVISA.png" alt="" id="img_2"></div>
            <div class="banner_img"><img src="../static/images/Sim1.png" alt="" id="img_3"></div>
        </div>
        <div class="offers">
            {% for flight in cheap_flights %}
            {% set nights = flight['nightsInDest'] | int %}
            <div class="offer_card">
                <a href="{{ flight['deep_link'] }}">
                <div class="offer_card_img">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/View_of_Empire_State_Building_from_Rockefeller_Center_New_York_City_dllu.jpg" alt="">
                </div>
                <div class="offer_card_content">
                    <div class="offer_card_content_title"><span class="title"> {{ flight['cityTo'] }}</span> <span class="price">${{ flight['price'] }}</span></div>
                    <div class="offer_card_content_details">{{ nights + 1 }} días / {{ nights }} noches</div>
                </div></a>
            </div>
            {% endfor %}
            
        </div>
    </div>
</body>
</html>