<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlyingChip</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="main">
        <div class="banner">
            <div class="banner_img none"><img src="../static/images/ChipLogo5.png" alt="" id="img_1"></div>
            <div class="banner_img"><img src="../static/images/USVISA.png" alt="" id="img_2"></div>
            <div class="banner_img none"><img src="../static/images/Sim1.png" alt="" id="img_3"></div>
        </div>
        <div class="contact">
           <a href="//wa.me/50247310555"><i class="fa fa-whatsapp" style="font-size:5em;color:green"></i> </a>
           <a href="mailto:admin@flying-chip.com">admin@flying-chip.com</a>
            
        </div>
    </div>
</body>
</html>